.header-wrapper {
  background-color: darkgrey;
  position: fixed;
  top: 0px;
  width: 100vw;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.icon-search {
  /* height: 60px; */
  align-items: center;
  justify-content: center;
}

.header-row {
  width: calc(100vw - 30px);
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* padding: 5px; */
}

.icon {
  width: 35px;
}

.input {
  position: relative;

  /* // the width of the input border */
  padding: 10px;

  /* // we want rounded corners no matter the size of the field */
  border-radius: 50%;
}

@media only screen and (max-width: 700px) {
  .header-wrapper {
    height: 40px;
  }
  .icon {
    width: 25px;
  }
}
